
Spark install .ipynb
case.csv
dept.csv
source.csv
source_json/._SUCCESS.crc
source_json/.part-00000-709fc2f3-cb64-4ce5-aba3-c1a94ccf3c07-c000.json.crc
source_json/_SUCCESS
source_json/part-00000-709fc2f3-cb64-4ce5-aba3-c1a94ccf3c07-c000.json
